body {
  background-color: rgb(32, 44, 51);
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: white;
}
.App {
  text-align: center;
  background-color: rgb(32, 44, 51);
  /* width: 100vw !important; */
  min-height: 100vh;
  overflow-y: scroll;
  color: white;
  padding-bottom: 70px;
}
.text-red {
  color: rgb(243, 100, 100);
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
a {
  text-decoration: none !important;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.bg {
  background-color: rgb(44, 63, 72) !important;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.category {
  padding-top: 40px;
}
